/* -------------------------------
SECTION TXT IMG COMPONENT
------------------------------- */
.cbo-sectiontxtimg{
	overflow: hidden;

	.cbo-chapo{
		margin-bottom: 50px;
	}
	.sectiontxtimg-container{
		.container-picture{
			padding-bottom: 70%;
			margin-bottom: 20px;
			border-radius: 10px;
			overflow: hidden;
		}
		.container-txt{
			h2, h3, h4, h5{
				font-size: 20px;
				line-height: 25px;
				margin: 0 0 15px 0;
			    display: flex;
    			align-items: center;
				margin: 50px 0 15px 0;
		
				&:first-child{
					margin: 0 0 15px 0;
				}
				strong{
					font-size: 14px;
					font-weight: 700;
					border-radius: 4px;
					box-shadow:0px 0px 0px 2px $darkblue inset;
					color: $darkblue;
				    padding: 0px 15px;
					margin: 0 15px 0 0;
				}
			}
		}
	}
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min) {
	.cbo-sectiontxtimg{
		.sectiontxtimg-container{
			display: flex;
			justify-content: space-between;

			.container-picture{
				width: 44%;
				padding-bottom: 0;
				margin-bottom: 0;
			}
			.container-txt{
				padding: 50px 0;
				width: 52%;
			}
			&.pic-right{
				.container-picture{
					order: 2;
				}
				.container-txt{
					order: 1;
				}
			}
		}
	}
}