/* -------------------------------
KEYFRAMES
------------------------------- */
@keyframes ripple {
    100% {
        transform: scale(5);
        background-color: transparent;
    }
}
.slide-up,
.slide-down,
.slide-left,
.slide-right,
.scale-up,
.scale-down{
	opacity: 0;
	transition:opacity .0s linear .0s, transform 1s $easeinout;

	&.no-opacity{
		opacity:1;
	}
}
.scale-up,
.scale-down{
	transition:opacity .2s linear .25s, transform 1s $easeinout;
}
.slide-up{
	transform: translateY(50%) scale(1);
}
.slide-down{
	transform: translateY(-50%) scale(1);
}
.slide-left{
	transform: translateX(150px) scale(.95);
}
.slide-right{
	transform: translateX(-150px) scale(.95);
}
.scale-up{
	transform: scale(.8);
}
.scale-down{
	transform: scale(1.2);
}
.anim-scroll{
	opacity:1;
	transform: translate(0,0) scale(1);
}