/* -------------------------------
MICRO COMPONENT FOR 404 page
------------------------------- */
.cg-page-404{
	background:url(../img/coral-guardian-bg-404.jpg);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 150px 0;

	.page-404-content{
		background: $colorwhite;
		padding: 30px;
		border-radius: 9px;
		width: 90%;
		position: relative;
		z-index: 3;
	}
	#svg{
		display: none;
	}
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min) {
	.cg-page-404{
		.page-404-content{
			max-width: 700px;
			padding: 50px;
			margin: 0 auto;
		}
	}
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min) {
	.cg-page-404{
		background:none;
		overflow: hidden;
		width: 100%;
		position: relative;

		#svg {
			display: block;
			position: absolute;
			top: -10%;
			left: -5%;
			width: 110%;
			height:130vh;
			z-index: 1;
		}
		#background {
			filter: url("#disFilter");
		}
	}
}