/* -------------------------------
CONNEXION COMPONENT
------------------------------- */
.login{
	background: url("../img/coral-guardian-bg-404.jpg") no-repeat center;

	a{
		color:$darkblue;

		&:hover{
			color:$darkblue;
		}
	}
	h1{
		a{
			background: url("../img/logo-coral-guardian-connect.png") no-repeat;
			width:157px;
			height: 51px;
		}
	}
}
.wp-core-ui .button-primary{
	background: $darkblue;
	border-color:$darkblue;
	display: block !important;
	float: none !important;
	width: 100% !important;
}